@import "@{templateCommon}/basekit-bootstrap.less";

@tablet-larger: ~"only screen and (max-width: 1050px) and (min-width: 651px)";
@tablet: ~"only screen and (max-width: 950px)";
@tablet-small: ~"only screen and (min-width: 768px)";
@mobile-large: ~"only screen and (max-width: 650px) and (min-width: 481px)";
@mobile: ~"only screen and (max-width: 480px)";
@mobile-small: ~"only screen and (max-width: 360px)";

body {
	position: relative;
	background-color: @color-swatch1;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1240px;
	width: 90%;
	margin: 0 auto;
}

.canvas {
	background-color: darken(@color-swatch1, 5%);
	max-width: 1080px;
	width: 90%;
	margin: 0 auto;
	padding: 0 0 60px;
}

// MAIN

.main {
	padding: 40px 0;
}

body.edit .widget.navigation,
body.edit .widget.extendednavigation {
	overflow: visible;
}

// TYPOGRAPHY

h5 {
	font-size: @font-swatch5-font-size;
	font-family: @font-swatch5-font-family;
	color: @font-swatch5-color;
	line-height: @font-swatch5-line-height;
	font-weight: @font-swatch4-font-weight;
}

// Normal Text

.widget.content,
.widget.content.in-editing {
	.wysihtml-editor-content,
	.embed-content {
		font-size: @font-swatch5-font-size !important;
		line-height: @font-swatch5-line-height !important;

		&,
		p,
		span,
		small,
		pre,
		code,
		table,
		th,
		td {
			color: @font-swatch5-color;

			.style--light & {
				color: @contrast--light;
			}

			.style--accent & {
				color: @contrast--accent;
			}

			.style--dark & {
				color: @contrast--dark;
			}
		}
	}
}

// Preformatted and Code Text

pre,
code {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
	border: none;
	.border-radius(0);
	background-color: darken(@color-swatch1, 10%);
	overflow: auto;
	font-family: monospace;

	.style--light & {
		background-color: fade(@contrast--light, 10%);
	}

	.style--accent & {
		background-color: fade(@contrast--accent, 10%);
	}

	.style--dark & {
		background-color: fade(@contrast--dark, 10%);
	}
}

code {
	border-left: 1px solid @color-swatch5;

	.style--light & {
		border-color: @contrast--light;
	}

	.style--accent & {
		border-color: @contrast--accent;
	}

	.style--dark & {
		border-color: @contrast--dark;
	}
}

// BLOCKQUOTE

blockquote {
	background-color: darken(@color-swatch1, 5%);
	border-radius: 4px;

	.style--light & {
		background-color: darken(@color--light, 5%);
	}

	.style--accent & {
		background-color: darken(@color--accent, 5%);
	}

	.style--dark & {
		background-color: darken(@color--dark, 5%);
	}

	&:before {
		content: open-quote;
		left: 10px;
		top: 22px;
		font-family: Georgia;
		font-size: 40px;
		color: @color-swatch3;

		.style--light & {
			color: @color--accent;
		}

		.style--accent & {
			color: @contrast--accent;
		}

		.style--dark & {
			color: @color--accent;
		}
	}
}

// Unordered and Ordered List

.widget.content,
.blog-post-content,
.ecom-product-long-description {
	ul {
		margin: 0.5em 0 0.5em 2em;
		padding-left: 0;
		list-style: none;

		li {
			position: relative;
			padding: 0;
			margin: 0 0 0.25em 0;

			&:before {
				position: absolute;
				content: "\2013";
				left: -2em;
			}
		}
	}

	ol {
		margin: 0.5em 0;
		padding-left: 0;
		counter-reset: ordered-counter;

		li {
			position: relative;
			padding-left: 2em;
			margin: 0 0 0.25em 0;
			list-style-type: none;

			// Custom Numbers

			&:before {
				min-width: 2em;
				padding: 0 0.4em 0 0;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				.box-sizing(border-box);
				content: counter(ordered-counter) ".";
				counter-increment: ordered-counter;
				text-align: left;
			}
		}
	}
}

// TABLE

table {
	overflow: auto;
	width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid @font-swatch5-color;
	margin: 0;
	hyphens: auto;
	color: @font-swatch5-color;

	.style--light & {
		border-top-color: @contrast--light;
		color: @contrast--light;
	}

	.style--accent & {
		border-top-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-top-color: @contrast--dark;
		color: @contrast--dark;
	}
}

// Table Cell

td,
th {
	border: none;
	background-color: transparent;
}

th {
	padding: 0.5em;
	border-bottom: 1px solid @font-swatch5-color;
	text-align: left;
	font-family: @font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	font-size: @font-swatch4-font-size;
	line-height: @font-swatch4-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	color: @font-swatch4-color;

	.style--light & {
		border-bottom-color: @contrast--light;
		color: @contrast--light;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
		color: @contrast--dark;
	}

	@media @mobile {
		display: none;
	}

	.responsivecolumns & {
		display: none;
	}
}

td {
	border-bottom: 1px dotted @font-swatch5-color;
	padding: 1em 0.5em;
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	font-size: @font-swatch5-font-size;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;

	.style--light & {
		border-bottom-color: @contrast--light;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}

	@media @mobile {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
	}

	.responsivecolumns & {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
	}

	&:first-child {
		@media @mobile {
			padding: 1em 0.5em 0;
		}

		.responsivecolumns & {
			padding: 1em 0.5em 0;
		}
	}

	&:last-child {
		@media @mobile {
			padding: 0 0.5em 1em;
			border-bottom: 1px dotted @font-swatch5-color;

			.style--light & {
				border-bottom-color: @contrast--light;
			}

			.style--accent & {
				border-bottom-color: @contrast--accent;
			}

			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}

		.responsivecolumns & {
			padding: 0 0.5em 1em;
			border-bottom: 1px dotted @font-swatch5-color;

			.style--light & {
				border-bottom-color: @contrast--light;
			}

			.style--accent & {
				border-bottom-color: @contrast--accent;
			}

			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

tr:last-child td {
	border-bottom: 1px solid @font-swatch5-color;

	.style--light & {
		border-bottom-color: @contrast--light;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}

	@media @mobile {
		border-bottom: none;
	}

	.responsivecolumns & {
		border-bottom: none;
	}

	&:last-child {
		@media @mobile {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @contrast--light;
			}

			.style--accent & {
				border-bottom-color: @contrast--accent;
			}

			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}

		.responsivecolumns & {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @contrast--light;
			}

			.style--accent & {
				border-bottom-color: @contrast--accent;
			}

			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

// EMBEDS

.embed-content iframe {
	max-width: 100%;
}

// PROFILE

.widget.profile span,
.widget.profile a {
	display: block;
	font-size: @font-swatch5-font-size;
	font-family: @font-swatch5-font-family;
	color: @font-swatch5-color;
	line-height: @font-swatch5-line-height;
	font-weight: @font-swatch5-font-weight;
}

.widget.profile a {
	color: @color-swatch3;

	&:hover {
		color: lighten(@color-swatch3, 15%);
		text-decoration: none;
	}
}

.bk-profile-address p:after {
	content: "";
}

// LATEST TWEET IN FOOTER

.widget.profile .twitter {
	padding: 0;
	margin: 0;

	a {
		color: @color-swatch4;
		font-size: @font-swatch5-font-size;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		img {
			border-radius: 30px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
		}
	}

	li {
		border-bottom: none;
		list-style: none;
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		color: @font-swatch5-color;
		padding: 0;
		border-bottom: none;
	}

	.twitter-profile-pic {
		display: none;
	}

	.twitter-content {
		span.bk-full-name {
			font-family: @font-swatch5-font-family;
			color: @color-swatch1;
			font-weight: bold;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	time,
	span,
	span a {
		color: @color-swatch1;
	}

	footer.bk-footer & {
		span {
			display: inline;
		}
	}
}

// SINGLE EMAIL FORM IN FOOTER

.widget.profile {
	fieldset {
		border: none;
		margin: 0;
		padding: 0;

		label {
			width: 100%;
			float: left;
			font-family: @font-swatch5-font-family;
			color: lighten(@color-swatch5, 10%);
			line-height: @font-swatch5-line-height;
			letter-spacing: @font-swatch4-letter-spacing;
		}

		input {
			height: 44px;
			width: 75%;
			font-family: @font-swatch5-font-family;
			font-size: @font-swatch5-font-size;
			color: @font-swatch5-color;
			text-indent: 8px;
			margin-top: 6px;
			padding: 0;
			float: left;
			border-radius: 0;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
		}

		button.btn {
			width: 25%;
			height: 44px;
			padding: 1px;
			margin-top: 6px;
			font-size: @font-swatch7-font-size;
			font-family: @font-swatch7-font-family;
			color: @font-swatch7-color;
			line-height: @font-swatch7-line-height;
			font-weight: @font-swatch7-font-weight;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: none;

			&:hover {
				background-color: @font-swatch7-background-color-hover;
				cursor: pointer;
			}
		}

		form fieldset input {
			height: 44px;
			width: 75%;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
		}
	}
}

// HEADER

header.bk-header {
	padding: 0;
	background-color: @color-swatch7;
}

.companyheader {
	display: inline-block;
	width: 29%;
	vertical-align: middle;

	@media @tablet {
		width: 90%;
		float: left;
		padding: 20px 0;
	}
}

// COMPANY NAME

.widget.companyname {
	padding-left: 10px;

	a {
		font-size: @font-swatch10-font-size;

		@media @mobile {
			font-size: bkscale(@font-swatch10-font-size, 1);
		}
	}
}

// LOGO

.widget.logo {
	max-width: 100px;

	a {
		line-height: 0;
	}
}

.widget.logo,
.widget.companyname {
	display: table-cell;
	vertical-align: middle;
	z-index: 1000;
}

// FOOTER

footer.bk-footer {
	padding: 4em 0;
	background-color: @color-swatch7;
	min-height: 150px;
	color: @color-swatch1;

	h2 {
		color: @color-swatch1;
		font-size: bkscale(@font-swatch2-font-size, 0.9);
		padding-bottom: 20px;
	}

	p {
		font-family: @font-swatch5-font-family;
		color: @font-swatch5-color;
		line-height: @font-swatch5-line-height;
	}

	span {
		color: @color-swatch1;
	}
}

footer .widget.profile .bk-profile-socialicons span a {
	background-color: @color-swatch2;

	&:hover {
		background-color: darken(@color-swatch2, 5%);
	}
}

// EXTENDED NAVIGATION

.widget.extendednavigation {
	.clearfix;
	display: inline-block;
	width: 70%;
	vertical-align: middle;

	@media @tablet {
		display: inherit;
		width: 100%;
		max-width: 100%;
	}

	.bk-overlay {
		@media @tablet {
			height: 40px;
			top: 15px !important;
		}
	}

	ul {
		float: left;
		margin: 0;
		padding: 0;

		@media @tablet {
			width: 100%;
			display: none;
			border-top: 1px solid lighten(@color-swatch7, 8%);
			padding: 20px 0;
			margin: 0;
		}

		@media @mobile {
			margin: 10px 0 0;
		}

		li {
			float: left;
			display: block;

			@media @tablet {
				width: 100%;
				padding: 0;
				border-bottom: 0;
			}

			&.folder {
				&:hover {
					background-color: @color-swatch2;
				}
			}

			a,
			&.folder .text {
				display: block;
				padding: 12px 20px;
				text-transform: uppercase;

				@media @tablet {
					padding: 10px;
				}
			}

			a:hover {
				text-decoration: none;
				color: @font-swatch6-color;
			}

			// SELECTED

			&.selected {
				span.text {
					color: @color-swatch1;
				}
			}

			// FOLDER

			&.folder {
				margin-right: 0;

				&:after {
					right: 11px;
					top: 49%;
				}

				.text:hover {
					color: @color-swatch1;
					background-color: @color-swatch2;
				}

				ul li a {
					padding: 0;
				}
			}

			// DROPDOWN MENU

			&:hover > ul {
				background-color: @color-swatch2;
				padding: 0;

				@media @tablet {
					display: block !important;
					width: 100%;
					border-top: 1px solid darken(@color-swatch3, 15%);
					margin: 0;
				}
			}
		}
	}

	ul.align-right li.folder {
		@media @mobile {
			background-position: 12px center;
			padding-right: 0;
		}
	}

	ul li:hover ul li a span.text:hover {
		background-color: darken(@color-swatch2, 5%);
	}

	li:hover > ul > li {
		display: block;
		width: 100%;
		padding: 0;
		box-sizing: border-box;

		a {
			@media @tablet {
				padding-right: 10px;
			}
		}
	}
}

div.widget .extendednavigation ul li,
div.widget.extendednavigation ul li {
	padding: 10px;

	&:hover {
		background-color: @font-swatch6-background-color-hover;
	}
}

.widget .extendednavigation {
	ul li.folder:after {
		border-top-color: @font-swatch6-color;
	}

	ul.align-right li.folder:after {
		@media @tablet {
			left: 5px;
			right: inherit;
		}
	}

	li ul {
		left: 0;
		width: 100%;
		text-align: center;
	}

	a.pull {
		display: none;

		@media @tablet {
			position: absolute;
			right: 0;
			top: 31px;
			display: inline-block;
			width: 40px;
			height: 40px;
			border: none;
			text-indent: -900em;
			overflow: hidden;
			cursor: pointer;
			outline: none;
			padding: 0;

			&:after {
				content: "";
				position: absolute;
				width: 26px;
				height: 3px;
				background: darken(@color-swatch1, 22%);
				top: 0;
				right: 0;
				box-shadow: 0 6px 0 darken(@color-swatch1, 22%), 0 12px 0 darken(@color-swatch1, 22%);
			}
		}

		@media @mobile {
			top: 30px;
		}
	}
}

// FEATURE

.widget.feature {
	width: 100%;
	padding: 0;

	@media @tablet {
		padding: 0;
	}

	@media @mobile {
		padding: 0;
	}

	.feature-bgimg {
		height: 500px;

		@media @tablet {
			height: 320px;
		}

		@media @mobile {
			height: 220px;
		}
	}

	.content {
		height: 500px;
		text-align: center;

		@media @tablet {
			height: 320px;
		}

		@media @mobile {
			height: 220px;
		}

		.spare {
			max-width: 960px;
			padding: 40px;
			margin: 0 auto;

			@media @mobile {
				padding: 20px;
			}
		}
	}

	// FEATURE TITLE

	h2 {
		display: inline-block;
		letter-spacing: 1px;
		padding: 20px;
		margin-bottom: 10px;
		text-shadow: 0px 1px 2px fade(@color-swatch7, 70%);
		background-color: fade(@color-swatch7, 50%);
		border-radius: 5px;

		@media @mobile {
			margin-bottom: 20px;
		}
	}

	// FEATURE STRAPLINE

	h3 {
		font-style: italic;
		text-shadow: 0px 2px 5px fade(@color-swatch7, 70%);
	}

	// FEATURE BUTTON

	button {
		margin: 1em 0;
		padding: 12px 36px;
		border: 0;
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
		line-height: @font-swatch7-line-height;
		color: @font-swatch7-color;
		letter-spacing: @font-swatch7-letter-spacing;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: @font-swatch7-background-color-hover;
			cursor: pointer;
			-webkit-transition: background-color 0.15s ease-in-out;
			-moz-transition: background-color 0.15s ease-in-out;
			-o-transition: background-color 0.15s ease-in-out;
			transition: background-color 0.15s ease-in-out;
		}
	}

	// FEATURE LAYOUTS

	&.align-left .content {
		width: 100%;
		text-align: left;
	}

	// CENTER ALIGN

	&.align-center .content {
		width: 100%;
		text-align: center;
	}

	// RIGHT ALIGN

	&.align-right .content {
		width: 100%;
		text-align: right;
	}
}

// IMAGE

.widget.image {
	img {
		display: block;
		max-width: 100%;
		border: 0;
		border-width: 0;
	}

	span.image-title,
	span.image-description {
		display: block;
		margin: 5px;
		text-align: center;
		font-family: @font-swatch5-font-family;
		font-weight: @font-swatch5-font-weight;
		font-size: @font-swatch5-font-size;
		line-height: @font-swatch5-line-height;
	}

	span.image-title {
		font-family: @font-swatch4-font-family;
		font-weight: @font-swatch4-font-weight;
		font-size: @font-swatch4-font-size;
		line-height: @font-swatch4-line-height;
	}

	span.image-description {
		font-family: @font-swatch5-font-family;
		font-weight: @font-swatch5-font-weight;
		font-size: @font-swatch5-font-size;
		line-height: @font-swatch5-line-height;
	}
}

// BUTTON

.widget.button,
.userregistration fieldset .userregistrationbtn {
	padding: 0;

	button {
		margin: 1em 0;
		padding: 12px 36px;
		border: 0;
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
		line-height: @font-swatch7-line-height;
		color: @font-swatch7-color;
		letter-spacing: @font-swatch7-letter-spacing;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: @font-swatch7-background-color-hover;
			cursor: pointer;
			-webkit-transition: background-color 0.15s ease-in-out;
			-moz-transition: background-color 0.15s ease-in-out;
			-o-transition: background-color 0.15s ease-in-out;
			transition: background-color 0.15s ease-in-out;
		}
	}
}

.widget.paypalbuynow .widget.button.paypal {
	text-transform: uppercase;
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight: @font-swatch7-font-weight;
	line-height: @font-swatch7-line-height;
	color: @font-swatch7-color;
	letter-spacing: @font-swatch7-letter-spacing;
}

.widget.dropbox button {
	text-transform: uppercase;
}

.widget.clicktocall a {
	text-transform: uppercase;
}

button,
button.btn,
.blogsearch form button,
.userregistration fieldset .userregistrationbtn {
	background-color: @font-swatch7-background-color;
	text-transform: uppercase;

	&:hover {
		background-color: @font-swatch7-background-color-hover;
	}
}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
		color: @contrast--accent;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	}
}

// INPUT AND TEXTAREA

input,
textarea {
	background-color: @color-swatch1;
	border: 1px solid fade(@color-swatch3, 30%);
}

// CONTENT

.widget.content {
	padding: 0;
	overflow: hidden;

	span.expand {
		font-family: @font-swatch7-font-family;
		background-color: @font-swatch7-background-color;
		color: @font-swatch7-color;
		font-size: @font-swatch7-font-size;
		text-transform: uppercase;
		padding: 4px 8px;
		margin: 4px 0;
		cursor: pointer;
		display: inline-block;

		&:hover,
		&:focus {
			cursor: pointer;
			background-color: @font-swatch7-background-color-hover;
		}

		@media @tablet-small {
			display: none !important;
		}
	}

	.bk-content-text {
		@media @tablet-small {
			overflow: visible !important;
			height: auto !important;
		}
	}
}

// Gallery

.widget.gallery {
	margin: 20px 0 20px -0.5%;

	ul li {
		@media @tablet {
			width: 100%/2;
			padding-bottom: 100%/2;
		}

		@media @tablet-larger {
			width: 100%/3;
			padding-bottom: 100%/3;
		}

		@media @mobile-large {
			width: 100%/2;
			padding-bottom: 100%/2;
		}

		@media @mobile {
			width: 100%;
			padding-bottom: 100%;
		}

		.responsivecolumns & {
			width: 100%;
			padding-bottom: 100%;
		}

		span.inner {
			.title,
			.description {
				color: @color-swatch1;
				font-family: @font-swatch4-font-family;
				letter-spacing: @font-swatch4-letter-spacing;
				text-align: left;

				@media @tablet {
					font-size: bkscale(@font-swatch5-font-size, 0.9);
					line-height: bkscale(@font-swatch5-line-height, 0.9);
				}

				@media @mobile {
					max-height: 150px;
				}
			}

			.title {
				font-size: 19px;
				font-weight: 600;
				line-height: 26px;
			}

			.description {
				font-size: 16px;
				line-height: 20px;
			}
		}
	}

	p {
		@media @mobile {
			padding: 10px;
		}
	}

	ul.gallery-widget li {
		@media @tablet {
			width: 50%;
			padding-bottom: 50%;
		}
	}

	.image-data {
		display: block;
		opacity: 0;
		background-color: fade(@color-swatch3, 80%);
		transition: all 0.4s ease-out;

		&:hover {
			opacity: 1;
		}
	}
}

// Lightbox

.lb-data .lb-caption,
.lb-data .lb-number {
	font-family: @font-swatch5-font-family;
	font-size: @font-swatch5-font-size;
	font-weight: @font-swatch5-font-weight;
	line-height: @font-swatch5-line-height;
	color: lighten(@font-swatch5-color, 50%);
}

.lb-data .lb-number {
	font-size: bkscale(@font-swatch5-font-size, 0.9);
}

// DIVIDER

.widget.line {
	padding: 20px 0;
}

hr.line {
	background-color: lighten(@color-swatch5, 18%);
	height: 1px;
	width: 100%;
	border: none;

	&.align-left {
		margin: 20px auto 20px 0px;
	}

	&.align-center {
		margin: 20px auto;
	}

	&.align-right {
		margin: 20px 0px 20px auto;
	}
}

// MAP

.widget.map {
	margin: 20px 0;
}

// REDIRECT

.widget.redirecttodesktop {
	padding: 8px 0;

	a {
		padding-right: 30px;
		padding-top: 2px;
		background-image: image("/images/desktop.png");
		background-repeat: no-repeat;
		background-position: right center;
		font-size: 12px;
		text-shadow: 0 1px 0 fade(@color-swatch1, 50%);
		text-decoration: none;
		cursor: pointer;
		color: @font-swatch5-color;
		font-family: @font-swatch5-font-family;
	}
}

.widget.redirecttodesktop a:hover,
.desktop a:active {
	background-image: image("/images/desktop.png");
	background-repeat: no-repeat;
	background-position: right center;
	cursor: pointer;
	text-decoration: underline;
}

// TWITTER

.widget.twitter {
	margin: 20px 0;

	p {
		font-size: 1.5em;
		line-height: 1.6em;
	}

	a {
		color: @font-swatch5-color;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch5-font-weight;
		line-height: @font-swatch5-line-height;
		text-decoration: none;
	}

	span a {
		border-bottom: 0;
		font-size: 11px;
		color: @color-swatch3;
	}

	ul {
		padding: 0px;
		margin: 0;

		li {
			border-bottom: none;
			list-style: none;
			font-family: @font-swatch5-font-family;
			font-size: 0.6em;
			color: @font-swatch5-color;
			padding-bottom: 30px;

			&:last-child {
				padding-bottom: 0px;
			}
		}
	}

	.twitter-profile-pic {
		float: left;
		margin-right: 20px;

		@media @mobile {
			display: none;
		}

		a {
			border-bottom: 0;
			padding-bottom: 0;
		}
	}

	time {
		font-size: 11px;
	}

	.twitter-content span.bk-full-name {
		line-height: 40px;
	}
}

// TWEET THIS

.widget.tweet a {
	-webkit-font-smoothing: initial;
	text-transform: uppercase;
}

// SIGNUP FORM

.widget.signupform {
	display: block;
	padding: 30px;
	margin: 0 0 20px;
	max-width: 400px;
	background-color: fade(@color-swatch3, 7%);
	border: 1px solid fade(@color-swatch3, 20%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	@media @mobile {
		padding: 20px;
	}

	fieldset {
		padding: 0;
		border: 0;
		margin: 0;
	}

	label {
		float: left;
		width: 100%;
		margin-bottom: 4px;
		color: @color-swatch4;
	}

	fieldset input {
		height: 52px;
		width: 100%;
		margin-bottom: 10px;
		background-color: @color-swatch1;
		border: 1px solid fade(@color-swatch3, 25%);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding-left: 10px;
	}

	fieldset button {
		padding: 8px 30px;
		text-transform: uppercase;
		height: 44px;
		line-height: 0;
	}
}

// CONTACT FORM

.contactform,
.advancedcontactform {
	margin: 10px 0;

	form {
		display: block;
		padding: 30px;
		margin: 0 0 20px;
		background-color: fade(@color-swatch3, 7%);
		border: 1px solid fade(@color-swatch3, 20%);
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	fieldset {
		margin: 0;
	}

	label {
		font-family: @font-swatch4-font-family;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch4-font-weight;
		line-height: @font-swatch4-line-height;
		color: @color-swatch4;
		letter-spacing: @font-swatch4-letter-spacing;
		display: block;
		margin-bottom: 5px;
	}

	input {
		height: 50px;
		width: 100%;
		background-color: @color-swatch1;
		border: 1px solid fade(@color-swatch3, 25%);
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		color: @font-swatch5-color;
		text-indent: 12px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 0;

		&:focus {
			outline: none;
		}
	}

	textarea {
		height: 132px;
		width: 100%;
		background-color: @color-swatch1;
		border: 1px solid fade(@color-swatch3, 25%);
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		color: @font-swatch5-color;
		text-indent: 8px;
		padding-top: 14px;
		resize: none;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 0;

		&:focus {
			outline: none;
		}
	}

	button,
	button.btn {
		padding: 12px 36px;
		border: 0;
		background-color: @font-swatch7-background-color;
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
		line-height: @font-swatch7-line-height;
		color: @font-swatch7-color;
		letter-spacing: @font-swatch7-letter-spacing;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: @font-swatch7-background-color-hover;
			cursor: pointer;
		}
	}
}

.form-group {
	margin-bottom: 1em;
}

// Radiobuttons and Checkboxes

.widget .form .option-list {
	margin-top: 1em;
	margin-bottom: 2em;

	.option-item--radio,
	.option-item--checkbox {
		position: relative;
		width: 100%;
		margin-bottom: @font-swatch5-line-height / 2;
		padding: 0;
		min-height: @font-swatch5-line-height;
	}
}

.widget.advancedcontactform .form-group.advancedcontactform__form-group--terms,
.widget.contactform .form-group.contactform__form-group--terms,
.widget.signupform .form-group.signupform__form-group--terms,
footer.bk-footer .widget.profile .form-group.profile__form-group.profile__form-group--terms {
	position: relative;
	margin-top: 1em;
	margin-bottom: 1em;
}

.widget .form .option-list,
.widget .form-group[class*="form-group--terms"] {
	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: floor(@font-swatch5-line-height*0.8+2) !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 0;

		&:checked + label:after {
			opacity: 1;
		}
	}

	.label--radio,
	.label--checkbox,
	label[for*="input--terms"] {
		display: block;
		position: relative;
		cursor: pointer;
		padding-left: 2em;
		margin-bottom: 0;
		word-break: break-word;
		text-align: left;
		text-transform: none;

		span a.form__link {
			font-family: @font-swatch5-font-family;
			font-weight: @font-swatch5-font-weight;
			font-size: @font-swatch5-font-size;
			line-height: @font-swatch5-line-height;
			letter-spacing: @font-swatch5-letter-spacing;
		}

		.style--light & {
			color: @contrast--light;
		}

		.style--accent & {
			color: @contrast--accent;
		}

		.style--dark & {
			color: @contrast--dark;
		}

		&:before,
		&:after {
			cursor: pointer;
			display: block;
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			min-width: 0;
			margin-top: floor(@font-swatch5-line-height*0.1);
			height: floor(@font-swatch5-line-height*0.8);
			width: floor(@font-swatch5-line-height*0.8);
			background-color: @color-swatch1;
			border: 1px solid @font-swatch7-background-color;

			.style--light & {
				border-color: @color--accent;
			}

			.style--accent & {
				border-color: @color--dark;
			}

			.style--dark & {
				border-color: @color--accent;
			}
		}

		&:after {
			opacity: 0;
			width: floor(@font-swatch5-line-height*0.8);
		}
	}

	.label--radio {
		&:before {
			border-radius: 50%;
		}

		&:after {
			border-radius: 50%;
			background-color: @font-swatch7-background-color;
			border: 1px solid @font-swatch7-background-color;
			margin-top: floor(@font-swatch5-line-height*0.1);
			height: floor(@font-swatch5-line-height*0.8);
			transform: scale(50%);

			.style--light & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}

			.style--accent & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}

			.style--dark & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}
		}
	}

	.label--checkbox,
	label[for*="input--terms"] {
		&:after {
			margin-top: floor(@font-swatch5-line-height*-0.2+1);
			height: floor(@font-swatch5-line-height*1.2);
			border: 1px solid transparent;
			box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			transform: scale(50%) rotate(45deg);

			.style--light & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}

			.style--accent & {
				box-shadow: -6px -6px 0 0 inset @color--dark;
			}

			.style--dark & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}
		}
	}

	label[for*="input--terms"] span a.form__link {
		text-decoration: underline;
		border: none;
	}
}

// PLACEHOLDER

::-webkit-input-placeholder {
	color: @color-swatch5;
}

:-moz-placeholder {
	color: @color-swatch5;
}

::-moz-placeholder {
	color: @color-swatch5;
}

:-ms-input-placeholder {
	color: @color-swatch5;
}

// SOCIAL BAR AND SOCIAL PROFILE

.widget.socialicons,
.widget.profile .bk-profile-socialicons {
	padding: 10px 0;
	min-height: 32px;
	font-size: 1em;
	font-family: @font-swatch7-font-family;

	span a {
		background-color: @font-swatch7-background-color;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 18px;
		display: inline-block;
		margin-right: 6px;
		margin-bottom: 8px;
		width: 32px;
		height: 32px;
		text-decoration: none;
		text-indent: 99999px;
		text-align: center;
		overflow: hidden;
		white-space: nowrap;

		&:hover {
			background-color: @font-swatch7-background-color-hover;
		}
	}
}

.widget.profile .bk-profile-socialicons span {
	display: inline-block;

	a {
		margin-right: 10px;
	}
}

// RESPONSIVE SLIDESHOW

.widget.responsiveslideshow {
	margin: 20px 0;

	.slideshow-image-list,
	.slideshow-widget {
		min-height: 450px;

		@media @tablet {
			min-height: 350px;
		}

		@media @mobile {
			min-height: 280px;
			height: 280px;
		}
	}

	.title {
		display: block;
	}

	.content-wrapper {
		background: fade(@color-swatch3, 60%);
	}

	.slideshow-widget {
		.btn-prev,
		.btn-next {
			font-size: 0;
			z-index: 11;
			text-indent: -99999px;
			width: 40px;
			height: 40px;
			background: fade(@color-swatch2, 60%);
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;

			@media @mobile {
				width: 30px;
				height: 30px;
			}
		}

		.btn-prev {
			&:after {
				content: "\2190";
				color: @color__button--text;
				top: 7px;

				@media @mobile {
					top: 1px;
				}
			}
		}

		.btn-next {
			&:after {
				content: "\2192";
				color: @color__button--text;
				top: 7px;

				@media @mobile {
					top: 1px;
				}
			}
		}

		.btn-play {
			background: fade(@color-swatch2, 60%);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;

			&:after {
				color: @color__button--text;
				letter-spacing: -4px;
				top: 0;
			}
		}
	}

	.slideshow-widget-controls {
		.dot {
			width: 11px;
			height: 11px;
			margin: 0 8px;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;

			&.selected {
				background-color: @color-swatch2;
				border: 0;
			}
		}
	}

	.btn-play:after {
		font-size: 20px;
	}

	.slideshow-widget .btn-play {
		background: fade(@color-swatch2, 60%);
		font-size: 0;
		text-indent: -99999px;
		position: absolute;
		cursor: pointer;
		z-index: 12;
		width: 42px;
		height: 42px;
		top: -5%;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;

		@media @mobile {
			width: 30px;
			height: 30px;
		}

		&:after {
			top: -7px;

			@media @mobile {
				top: -15px;
			}
		}
	}
}

// REGISTERATION FORM

.widget.userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;

		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// BLOG

.widget.blogpostlist {
	.blog-post-item {
		padding: 30px;
		border: 1px solid darken(@color-swatch1, 10%);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}

	.blog-post-feature-image-wrap {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 20px;

		img {
			display: none;
		}
	}
}

.blog-post-item {
	margin: 1.5em 0;
	padding-bottom: 1em;

	h2 {
		a {
			font-family: @font-swatch2-font-family;
			font-size: @font-swatch2-font-size;
			font-weight: @font-swatch2-font-weight;
			line-height: @font-swatch2-line-height;
			color: @font-swatch2-color;
			letter-spacing: @font-swatch2-letter-spacing;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.blog-post-metadata {
	background-color: transparent;
	background-image: none;
	margin-top: 0;
	text-align: left;
}

.blog-list-footer {
	background-color: transparent;
	background-image: none;
}

.blog-post-more-link {
	float: left;
	width: 100%;
}

// BLOG SEARCH

.blogsearch {
	form {
		background-color: fade(@color-swatch3, 7%);
		border: 1px solid fade(@color-swatch3, 20%);
		padding: 20px 30px;

		label {
			display: block;
			margin-bottom: 0.6em;
			font-family: @font-swatch4-font-family;
			font-size: @font-swatch4-font-size;
			font-weight: @font-swatch4-font-weight;
			line-height: @font-swatch4-line-height;
			color: @font-swatch4-color;
			letter-spacing: @font-swatch4-letter-spacing;
		}

		input {
			height: 45px;
			width: 70%;
			margin-bottom: 10px;
			background-color: @color-swatch1;
			border: 1px solid fade(@color-swatch3, 25%);
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			padding-left: 10px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			@media @mobile-small {
				width: 50%;
			}
		}

		button {
			background-color: @font-swatch7-background-color;
			font-family: @font-swatch7-font-family;
			font-size: @font-swatch7-font-size;
			font-weight: @font-swatch7-font-weight;
			line-height: @font-swatch7-line-height;
			color: @font-swatch7-color;
			letter-spacing: @font-swatch7-letter-spacing;
			padding: 10px 16px;
			margin: 0;
			border: none;
			text-decoration: none;
			width: 30%;

			&:hover {
				background-color: @font-swatch7-background-color-hover;
				cursor: pointer;
			}

			@media @mobile-small {
				width: 50%;
			}
		}
	}
}

.blog-post-feature-image-wrap {
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin-bottom: 2em;
	background-size: cover;
	background-position: center;

	img {
		display: none;
	}
}

.blog-post-sharing {
	margin-top: 10px;
}

// MENU

.menu {
	.menu-item-image-wrap {
		background-size: cover;
		background-repeat: no-repeat;
		height: 180px;
		margin: 0.25em 0 0.75em;
		background-position: center;

		@media @mobile {
			margin: 1em 0 0.5em;
		}

		img {
			display: none;
		}
	}

	.menu-items {
		.menu-item {
			padding: 30px;
			border: 1px solid darken(@color-swatch1, 10%);
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			margin-bottom: 30px;
		}
	}
}

.dietary-icon {
	padding: 0 10px;
	font-size: 12px;
	background-color: lighten(@color-swatch2, 10%);
	color: @font-swatch7-color;
}

.menu .menu-items .menu-item {
	border: 1px solid fade(@color-swatch3, 20%);
}

.menu-item-promoted {
	background-color: fade(@color-swatch3, 7%);
	padding: 20px !important;
}

.menu-subsection-wrapper.menu-subsection-promoted {
	background-color: fade(@color-swatch3, 7%);
	padding: 40px;
	border: 1px solid fade(@color-swatch3, 20%);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.menu .menu-subsection {
	padding: 0;
}

// E-COMMERCE

.widget.ecomproductslist,
.widget.ecomfeaturedproducts {
	label {
		display: block;

		@media @tablet {
			display: block;
			font-size: 14px;
		}
	}
}

.widget.ecomproductslist .ecom-productslist-products,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap {
	.productlist-filter {
		.productlist-display-form {
			.form-group.productlist-search {
				input {
					padding: 2px 8px 4px;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
				}

				button.btn {
					padding: 6px 25px;
				}
			}
		}
	}
}

select,
.widget.ecomcheckout .delivery select,
.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select {
	appearance: none;
	outline: none !important;
	position: relative;
	background: transparent;
	padding: 10px 23px 10px 10px;
	border-radius: 3px;
	background-image: image("/images/arrow.png");
	background-position: right 6% center;
	background-repeat: no-repeat;
	background-position-x: 97%;
	background-position-y: 53%;
	background-color: @color-swatch1;
	border: 1px solid fade(@color-swatch3, 30%);
	text-indent: 0.01px;
	text-overflow: ellipsis;

	@media @tablet {
		width: 100%;
	}

	&::-ms-expand {
		display: none;
	}

	option {
		background-color: @color-swatch1;
		color: @font-swatch5-color;
	}
}

.widget.ecomproductslist .ecom-productslist-title,
.widget.ecomfeaturedproducts .ecom-featuredproducts-title {
	padding: 0;
}

.widget.ecomproductslist .ecom-productlist-info,
.widget.ecomfeaturedproducts .ecom-featuredproducts-info {
	text-align: center;
}

// Product

.widget.ecomproduct {
	.product-actions {
		button {
			margin-bottom: 1em;
			text-align: center;

			@media @mobile {
				width: 100%;
			}

			&:before {
				float: none;
			}
		}
	}
}

// Ecom Basket Summary

.widget.ecombasket {
	.ecombasket-pull p {
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
	}

	.ecombasket-list-container ul li .ecombasket-item-info .ecombasket-remove-button {
		border: 0;
		text-decoration: none;
		color: @color-swatch1;
		font-family: @font-swatch5-font-family;
		padding: 5px 10px;
	}
}

.widget.ecombasketsummary {
	padding-top: 20px;

	a {
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
	}

	table {
		border-spacing: 0;
		width: 100%;
		list-style: none;
		font-size: 18px;
		color: @color-swatch4;
		margin: 20px 0 30px;

		@media @tablet {
			padding: 0px;
		}

		@media @mobile {
			padding: 0px;
			margin: 0px 0px 30px 0px;
		}

		tr:first-child {
			outline: 1px solid darken(@color-swatch1, 10%);
			background-color: darken(@color-swatch1, 4%);
			-webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-topleft: 4px;
			-moz-border-radius-topright: 4px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			font-family: @font-swatch4-font-family;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 1px;
			color: @font-swatch4-color;
			text-transform: uppercase;

			@media @mobile {
				font-size: 12px;
				display: none !important;
			}

			@media @mobile {
				font-size: 12px;
				display: table-header-group;

				th:nth-child(2) {
					display: none;
				}

				th:nth-child(3) {
					padding-left: 12px;
				}
			}
		}

		th {
			text-align: left;
			position: relative;
			left: 20px;
		}

		tr td {
			border-bottom: 1px solid darken(@color-swatch1, 10%);

			@media @mobile-small {
				display: table;
				width: 100%;
				border-bottom: 0;
			}

			&:nth-child(1),
			&:nth-child(2) {
				padding: 20px;
				vertical-align: top;

				@media @mobile {
					padding: 20px 0px;
				}
			}

			&:nth-child(1) {
				@media @mobile-small {
					padding-bottom: 0;
				}
			}

			&:nth-child(2) {
				@media @mobile-small {
					padding-left: 0;
				}
			}

			&:nth-child(3) {
				padding: 20px;
				margin-top: 0;
			}

			&:nth-child(2),
			&:nth-child(3) {
				@media @mobile-small {
					padding: 0 20px 0;
					border-left: 0;
				}
			}

			&:last-child {
				@media @mobile-small {
					padding: 6px 20px;
					margin: 20px 0 0;
					border-bottom: 1px solid darken(@color-swatch1, 10%);
					border-top: 1px solid darken(@color-swatch1, 10%);
				}
			}
		}
	}

	tr:last-child td:last-child {
		@media @mobile-small {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}
	}

	.basket-summary-items {
		background: transparent;

		@media @tablet {
			img {
				max-width: 100px !important;
			}
		}

		@media @mobile {
			display: table-row-group;

			img {
				max-width: 80px !important;
			}

			+ tr {
				display: block;
			}
		}

		&:last-child {
			td {
				padding-bottom: 25px;
			}
		}

		.image-wrap {
			background-image: none !important;
		}

		td:nth-child(2) {
			padding-left: 15px;
		}

		.basket-summary-pricepu,
		.basket-summary-quantity,
		.basket-summary-amount {
			font-size: @font-swatch5-font-size;
			line-height: @font-swatch5-line-height;

			label {
				display: block;
			}
		}

		.basket-summary-pricepu {
			display: block;
		}

		.basket-summary-quantity {
			margin-top: 4px;
		}

		.basket-summary-quantity,
		.basket-summary-quantitybtn {
			display: inline-block;

			label {
				display: block;
			}

			span {
				padding: 5px 25px 6px;
				margin: 0;
				position: relative;
				top: -2px;
			}

			button {
				width: 30px;
				height: 30px;
				padding: 0;
				box-shadow: none;
				border: 0;
				color: @color-swatch1;
				background-color: @color-swatch3;
				margin: 0;

				&:hover {
					background-color: darken(@color-swatch3, 10%);
				}
			}
		}

		.basket-summary-amount {
			color: darken(@color-swatch4, 10%);
		}
	}

	.basket-summary-subtotal {
		color: darken(@color-swatch4, 10%);
		display: block;
		font-size: @font-swatch4-font-size;
		margin-top: 25px;
		border: 1px solid @color-swatch7;
		padding: 20px;
		font-weight: 700;
	}

	.basket-summary-product-info a {
		font-family: @font-swatch6-font-family;
		font-size: @font-swatch6-font-size;
		font-weight: @font-swatch6-font-weight;
	}

	.basket-summary-continue-shopping,
	.basket-summary-submit,
	.basket-summary-empty-cta {
		display: inline-block;
		margin-left: 0;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 0 12px;
		line-height: 45px;
		height: 45px;
		font-weight: @font-swatch7-font-weight;
		background-color: @color-swatch3;
		text-decoration: none;

		&:hover {
			background-color: @color-swatch7;
		}

		@media @mobile {
			margin-right: 0;
			width: 100%;
			text-align: center;
		}
	}

	.basket-summary-legal-links {
		padding-top: 10px;
		list-style: none;
		padding-left: 0;

		&:hover {
			text-decoration: underline !important;
		}
	}
}

.btn.ecom-product-go-to-checkout-btn {
	background-color: @color-swatch3;
	padding: 12px 10px;

	&:hover {
		background-color: darken(@color-swatch3, 20%);
		text-decoration: none;
	}
}
