@import "@{templateCommon}/basekit-bootstrap.less";

@tablet-larger: ~"only screen and (max-width: 1050px) and (min-width: 651px)";
@tablet: ~"only screen and (max-width: 950px)";
@tablet-small: ~"only screen and (min-width: 768px)";
@mobile-large: ~"only screen and (max-width: 650px) and (min-width: 481px)";
@mobile: ~"only screen and (max-width: 480px)";

// BODY

body {
	position: relative;
	background-color: @color-swatch1;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1240px;
	width: 90%;
	margin: 0 auto;
}

.canvas {
	background-color: darken(@color-swatch1, 5%);
	max-width: 1080px;
	width: 90%;
	margin: 0 auto;
	padding: 0 0 60px;
}

// MAIN

.main {
	padding: 40px 0;
}

// TYPOGRAPHY

h1, h2, h3, h4, h5, h6 {
	.style--light & {
	    color: fade(@contrast--light, 90%);
	}

	.style--accent & {
	    color: fade(@contrast--accent, 90%);
	}

	.style--dark & {
	    color: fade(@contrast--dark, 90%);
	}
}

h5 {
	font-size: @font-swatch5-font-size;
	font-family: @font-swatch5-font-family;
	color: @font-swatch5-color;
	line-height: @font-swatch5-line-height;
	font-weight: @font-swatch4-font-weight;
}

// Normal Text

p, .paragraph, ul, ol, li, pre, code, label {
	.style--light & {
	    color: fade(@contrast--light, 80%);
	}

	.style--accent & {
	    color: fade(@contrast--accent, 80%);
	}

	.style--dark & {
	    color: fade(@contrast--dark, 80%);
	}
}

.widget.content .wysihtml-editor-content,
.widget.embed .embed-content,
.widget.content.in-editing .wysihtml-editor-content {
	font-size: @font-swatch5-font-size !important;
	line-height: @font-swatch5-line-height !important;

	&, p, span, small, pre, code, table, th, td {
		color: @font-swatch5-color;

		.style--light & {
		    color: fade(@contrast--light, 80%);
		}

		.style--accent & {
		    color: fade(@contrast--accent, 80%);
		}

		.style--dark & {
		    color: fade(@contrast--dark, 80%);
		}
	}
}

.form__link {
	.style--light & {
	    color: fade(@contrast--light, 80%)!important;
	}

	.style--accent & {
	    color: fade(@contrast--accent, 80%)!important;
	}

	.style--dark & {
	    color: fade(@contrast--dark, 80%)!important;
	}
}

.widget.content a {
	.style--light & {
	    color: lighten(mix(@color--dark, @color-swatch3, 25%), 15%);
	}

	.style--accent & {
	    color: @contrast--accent;
	}

	.style--dark & {
	    color: @color--accent;
	}
}


// Preformatted and Code Text

pre, code {
	display: block;
	margin: 1em 0;
	padding: 0.5em 1em;
	border: none;
	.border-radius(0);
	background-color: fade(@color-swatch3, 7%);
	overflow: auto;
	font-family: monospace;
	border-radius: 3px;
}

code {
	border-left: 1px solid fade(@color-swatch3, 20%);
}

// BLOCKQUOTE

blockquote {
	background-color: fade(@color-swatch3, 7%);
	border-radius: 3px;

	.style--light & {
	    background-color: darken(@color--light, 5%);
	    color: fade(@contrast--light, 80%);
	}

	.style--accent & {
	    background-color: darken(@color--accent, 5%);
	    color: fade(@contrast--accent, 80%);
	}

	.style--dark & {
	    background-color: lighten(@color--dark, 8%);
	    color: fade(@contrast--dark, 80%);
	}

	&:before {
		content: open-quote;
		left: 10px;
		top: 22px;
		font-family: Georgia;
		font-size: 40px;
		color: @color-swatch3;
		word-break: break-word;

		.style--light & {
		    color: lighten(mix(@color--dark, @color-swatch3, 25%), 15%);
		}

		.style--accent & {
		    color: @contrast--accent;
		}

		.style--dark & {
		    color: @color--accent;
		}
	}

	&:after {
		display: none;
	}
}

// Unordered and Ordered List

.blog-post-content,
.widget.content .bk-content-text,
.ecom-product-long-description {
	ul {
		margin: 0.5em 0 0.5em 2em;
		padding-left: 0;
		list-style: none;

		li {
			position: relative;
			padding: 0;
			margin: 0 0 0.25em 0;

			&:before {
				position: absolute;
				content: '\2022';
				left: -2em;
			}
		}
	}

	ol {
		margin: 0.5em 0;
		padding-left: 0;
		counter-reset: ordered-counter;

		li {
			position: relative;
			padding-left: 2em;
			margin: 0 0 0.25em 0;
			list-style-type: none;

			// Custom Numbers

			&:before {
				min-width: 2em;
				padding: 0 0.4em 0 0;
				display: inline-block;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				.box-sizing(border-box);
				content: counter(ordered-counter) ".";
				counter-increment: ordered-counter;
				text-align: left;
			}
		}
	}
}

.widget-overlay,
.content .widget-overlay {
	ul.list--options {
		margin: 0;
		padding: 0;
		border: none;
	
		li.item--option {
			margin: 0;
			padding: 0;
	
			&:before {
				content: none;
			}
		}
	}
}

// TABLE

table {
	overflow: auto;
	min-width: 100%;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	border-top: 1px solid @font-swatch5-color;
	margin: 0;
	hyphens: auto;
	color: @font-swatch5-color;

	.style--light & {
		border-top-color: @font-swatch5-color;
		color: @font-swatch5-color;
	}

	.style--accent & {
		border-top-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-top-color: @contrast--dark;
		color: @contrast--dark;
	}
}

// Table Cell

td,
th {
	border: none;
	background-color: transparent;
}

th {
	padding: 0.5em;
	border-bottom: 1px solid @font-swatch5-color;
	text-align: left;
	font-family: @font-swatch4-font-family;
	font-weight: @font-swatch4-font-weight;
	font-size: @font-swatch4-font-size;
	line-height: @font-swatch4-line-height;
	letter-spacing: @font-swatch5-letter-spacing;
	color: @font-swatch4-color;

	.style--light & {
		border-bottom-color: @font-swatch5-color;
		color: @font-swatch4-color;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
		color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
		color: @contrast--dark;
	}

	@media @mobile {
		display: none;
	}

	.responsivecolumns & {
		display: none;
	}
}

td {
	border-bottom: 1px dotted @font-swatch5-color;
	padding: 1em 0.5em;
	font-family: @font-swatch5-font-family;
	font-weight: @font-swatch5-font-weight;
	font-size: @font-swatch5-font-size;
	line-height: @font-swatch5-line-height;
	letter-spacing: @font-swatch5-letter-spacing;

	.style--light & {
		border-bottom-color: @font-swatch5-color;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}

	@media @mobile {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
		width: 100% !important;
		max-width: 100%;
	}

	.responsivecolumns & {
		display: block;
		padding: 0 0.5em;
		border-bottom: none;
		width: 100% !important;
		max-width: 100%;
	}

	&:first-child {
		@media @mobile {
			padding: 1em 0.5em 0;
		}

		.responsivecolumns & {
			padding: 1em 0.5em 0;
		}
	}

	&:last-child {
		@media @mobile {
			padding: 0 0.5em 1em;
			border-bottom: 1px dotted @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}

			.style--accent & {
				border-bottom-color: @contrast--accent;
			}

			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}

		.responsivecolumns & {
			padding: 0 0.5em 1em;
			border-bottom: 1px dotted @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}

			.style--accent & {
				border-bottom-color: @contrast--accent;
			}

			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

tr:last-child td {
	border-bottom: 1px solid @font-swatch5-color;

	.style--light & {
		border-bottom-color: @font-swatch5-color;
	}

	.style--accent & {
		border-bottom-color: @contrast--accent;
	}

	.style--dark & {
		border-bottom-color: @contrast--dark;
	}

	@media @mobile {
		border-bottom: none;
	}

	.responsivecolumns & {
		border-bottom: none;
	}

	&:last-child {
		@media @mobile {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}

			.style--accent & {
				border-bottom-color: @contrast--accent;
			}

			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}

		.responsivecolumns & {
			border-bottom: 1px solid @font-swatch5-color;

			.style--light & {
				border-bottom-color: @font-swatch5-color;
			}

			.style--accent & {
				border-bottom-color: @contrast--accent;
			}

			.style--dark & {
				border-bottom-color: @contrast--dark;
			}
		}
	}
}

// EMBEDS

.embed-content iframe {
	max-width: 100%;
}

// PROFILE

.widget.profile span,
.widget.profile a {
	display: block;
	font-size: @font-swatch5-font-size;
	font-family: @font-swatch5-font-family;
	color: @font-swatch5-color;
	line-height: @font-swatch5-line-height;
	font-weight: @font-swatch5-font-weight;
}

.widget.profile a {
	color: @color-swatch3;

	&:hover {
		color: lighten(@color-swatch3, 15%);
		text-decoration: none;
	}
}

.bk-profile-address p:after {
	content: '';
}

// LATEST TWEET IN FOOTER

.widget.profile .twitter {
	padding: 0;
	margin: 0;

	a {
		color: @color-swatch4;
		font-size: @font-swatch5-font-size;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

		img {
			border-radius: 30px;
			-webkit-border-radius: 30px;
			-moz-border-radius: 30px;
			border-radius: 30px;
		}
	}

	li {
		border-bottom: none;
		list-style: none;
		font-family: @font-swatch5-font-family;
		font-size: @font-swatch5-font-size;
		color: @font-swatch5-color;
		padding: 0;
		border-bottom: none;
	}

	.twitter-profile-pic {
		display: none;
	}

	.twitter-content {
		span.bk-full-name {
			font-family: @font-swatch5-font-family;
			color: @color-swatch1;
			font-weight: bold;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	time,
	span,
	span a {
		color: @color-swatch1;
	}

	footer.bk-footer & {
		span {
			display: inline;
		}
	}
}

// SINGLE EMAIL FORM IN FOOTER

.widget.profile form fieldset {
	.form-group {
		display: flex;
		flex-wrap: wrap;
		border: none;
		margin: 0 0 2em;
		padding: 0;

		@media @mobile {
			margin-bottom: 1em;
			width: 100%;
		}

		label {
			display: none;
		}

		input {
			flex-grow: 1;
    		margin-right: 10px;

			.column.columns-two-left & {
				width: 100%;
				margin-right: 0;
			}

			@media @tablet {
				width: 100%;
				margin-right: 0;
			}
		}

		button.btn {
			.column.columns-two-left & {
				margin-top: 10px;
			}

			@media @tablet {
				margin-top: 10px;
			}
		}
	}
}

// HEADER

header.bk-header {
	padding: 0;
	background-color: @color-swatch7;

	@media @tablet {
		position: relative;
	}

	.wrapper {
		display: flex;
		align-items: stretch;

		@media @tablet {
			display: block;
		}
	}
}

.companyheader {
    display: flex;
    vertical-align: middle;
    width: 30%;
    padding: 10px 20px 10px 0;
	align-items: center;

	@media @tablet {
		width: calc(~"100% - 50px");
		padding: 20px 20px 20px 0;
	}
}

// COMPANY NAME

.widget.companyname {
	padding-left: 20px;

	a {
		font-size: @font-swatch10-font-size;

		@media @mobile {
			font-size: bkscale(@font-swatch10-font-size, 1);
		}
	}
}

// LOGO

.widget.logo {
	max-width: 100px;
	min-width: 32px;

	a {
		line-height: 0;
	}
}

.widget.logo,
.widget.companyname {
	display: table-cell;
	vertical-align: middle;
	z-index: 1000;
}

// FOOTER

footer.bk-footer {
	padding: 4em 0;
	background-color: @color-swatch7;
	min-height: 150px;
	color: @color-swatch1;

	h2 {
		color: @color-swatch1;
		font-size: bkscale(@font-swatch2-font-size, 0.9);
		padding-bottom: 20px;
	}

	p {
		font-family: @font-swatch5-font-family;
		color: @font-swatch5-color;
		line-height: @font-swatch5-line-height;
	}

	span {
		color: @color-swatch1;
	}
}

// EXTENDED NAVIGATION

.widget.navigation,
.widget.extendednavigation {
	flex-grow: 1;

	@media @tablet {
		z-index: 10;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-width: 100%;
		margin-top: 0;
		height: 100%;
	}

	body.edit & {
		overflow: visible;
	}

	.bk-overlay {
		@media @tablet {
			height: 40px;
			top: 15px !important;
		}
	}

	> .extendednavigation {
		height: 100%;

		@media @tablet {
			position: static;
			height: auto;
		}
	}

	// Mobile Menu

	a.pull {
		display: none;

		@media @tablet {
			position: absolute;
			right: 5%;
			top: -50%;
			display: inline-block;
			margin-top: -8px;
			width: 20px;
			height: 16px;
			border: none;
			text-indent: -900em;
			overflow: hidden;
			cursor: pointer;
			outline: none;
			padding: 0;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 20px;
				height: 3px;
				border-radius: 0;
				background: darken(@color-swatch1, 22%);
				box-shadow: 0 6px 0 darken(@color-swatch1, 22%), 0 12px 0 darken(@color-swatch1, 22%);
			}
		}
	}

	// Menu Points

	ul {
		display: flex;
		text-align: center;
		flex-wrap: wrap;
		float: none;
		height: 100%;
		margin: 0;
		padding: 0;

		@media @tablet {
			display: block;
			position: absolute;
			left: 0;
			z-index: 10;
			background-color: @color-swatch7;
			width: 100%;
			display: none;
			padding: 0;
			margin: 0;
			height: auto;
		}

		// Menu Point

		li {
			&:hover {
				background-color: @font-swatch6-background-color-hover;
			}

			@media @tablet {
				width: 100%;
				padding: 0;
				border-bottom: 0;
			}

			a,
			&.folder > .text {
				display: flex;
				align-items: center;
				height: 100%;
				padding: 20px;
				text-transform: uppercase;
				word-break: break-word;
				line-height: 1.5em;

				@media @tablet {
					display: block;
				}
			}

			a:hover {
				text-decoration: none;
				color: @font-swatch6-color;
			}

			&.selected {
				span.text {
					color: @color-swatch1;
				}
			}

			// Folder

			&.folder {
				margin-right: 0;

				.text:hover,
				&.folder-open > .text {
					color: @color-swatch1;
					background-color: @color-swatch2;
				}
	
				&:after {
					content: none;
				}
					
				> .text {
					padding-right: 3.5em;

					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						right: 1.6em;
						border: 2px solid fade(@font-swatch6-color, 60%);
						border-top: transparent;
						border-left: transparent;
						transform: rotate(45deg);
						margin-top: -0.5em;
						width: 0.5em;
						height: 0.5em;
						font-size: 1em;
					}
				
					&:hover:after {
						border-color: @font-swatch6-color-hover;
					}
				}

				// Dropdown

				> ul,
				&:hover > ul {
					display: none;
					right: 0;
					padding: 0;
					min-width: 300px;
					max-width: 500px;
					background-color: @color-swatch2;
					word-break: break-all;
					position: absolute;
					z-index: 10;
	
					@media @tablet {
						position: static;
						min-width: auto;
						max-width: none;
						width: auto;
						margin: 0 20px 20px;
					}

					li {
						display: block;
						width: 100%;
						padding: 0;
						box-sizing: border-box;

						a {
							display: block;
							padding: 0;
							
							span.text {
								overflow: visible;
								word-break: break-word;
								background-color: darken(@color-swatch2, 5%);
								padding: 15px 20px;
								line-height: 1.8em;
							
								&:hover {
									background-color: darken(@color-swatch2, 10%);
								}
							}
						}
					}
				}
			}

			// Folder Open
	
			&.folder-open,
			&.folder-open:hover {
				background-color: @color-swatch2;

				ul {
					display: block;
				}
			}
		}

		&.align-left {
   			text-align: left;
			justify-content: start;

			li.folder {
				@media @mobile {
					background-position: 12px center;
					padding-right: 0;
				}
		
				&:after {
					@media @tablet {
						left: 5px;
						right: inherit;
					}
				}
			}
		}

		&.align-center {
			text-align: center;
			justify-content: center;
		}

		&.align-right {
			text-align: right;
			justify-content: end;
		}
	}
}

// FEATURE

.widget.feature {
	width: 100%;
	padding: 0;

	@media @tablet {
		padding: 0;
	}

	@media @mobile {
		padding: 0;
	}

	.feature-bgimg {
		height: 500px;

		@media @tablet {
			height: 320px;
		}

		@media @mobile {
			height: 220px;
		}
	}

	.content {
		height: 500px;
		text-align: center;

		@media @tablet {
			height: 320px;
		}

		@media @mobile {
			height: 220px;
		}

		.spare {
			max-width: 960px;
			padding: 40px;
			margin: 0 auto;

			@media @mobile {
				padding: 40px 20px;
			}
		}
	}

	// FEATURE TITLE

	h2 {
		display: inline-block;
		letter-spacing: 1px;
		padding: 20px;
		margin-bottom: 10px;
		text-shadow: 0px 1px 2px fade(@color-swatch7, 70%);
		background-color: fade(@color-swatch7, 50%);
		border-radius: 5px;

		@media @mobile {
			margin-bottom: 20px;
			font-size: @font-swatch8-font-size;
			line-height: @font-swatch8-line-height;
		}
	}

	// FEATURE STRAPLINE

	h3 {
		font-style: italic;
		text-shadow: 0px 2px 5px fade(@color-swatch7, 70%);
		margin-bottom: 1em;

		@media @mobile {
			font-size: @font-swatch9-font-size;
			line-height: @font-swatch9-line-height;
		}
	}

	// FEATURE LAYOUTS

	&.align-left .content {
		width: 100%;
		text-align: left;
	}

	// CENTER ALIGN

	&.align-center .content {
		width: 100%;
		text-align: center;
	}

	// RIGHT ALIGN

	&.align-right .content {
		width: 100%;
		text-align: right;
	}
}

// IMAGE

.widget.image {
	img {
		display: block;
		max-width: 100%;
		border: 0;
		border-width: 0;
	}
    
    a:hover {
        text-decoration: none;
        cursor: pointer;
    }

	span.image-title,
	span.image-description {
		display: block;
		margin: 0;
		text-align: center;
		font-family: @font-swatch5-font-family;
		font-weight: @font-swatch5-font-weight;
		font-size: @font-swatch5-font-size;
	}

	span.image-title {
		font-family: @font-swatch4-font-family;
		font-weight: @font-swatch4-font-weight;
		font-size: @font-swatch4-font-size;

		.style--light & {
		    color: @contrast--light;
		}

		.style--accent & {
		    color: @contrast--accent;
		}

		.style--dark & {
		    color: @contrast--dark;
		}
	}

	span.image-description {
		font-family: @font-swatch5-font-family;
		font-weight: @font-swatch5-font-weight;
		font-size: @font-swatch5-font-size;

		.style--light & {
		    color: fade(@contrast--light, 80%);
		}

		.style--accent & {
		    color: fade(@contrast--accent, 80%);
		}

		.style--dark & {
		    color: fade(@contrast--dark, 80%);
		}
	}
}

// BUTTON

.btn,
button.btn,
button.button,
.contactform button,
.contactform button.btn,
.advancedcontactform button,
.advancedcontactform button.btn,
.widget.tweet a,
.widget.clicktocall a,
.widget.clicktocall a:hover,
.widget.dropbox button,
.widget.filedownload button.btn,
.widget.paypalbuynow .widget.button.paypal,
.widget.socialicons span a,
.widget.profile .bk-profile-socialicons span a,
.widget.feature .feature-bgimg .content button,
.userregistration fieldset .userregistrationbtn,
.widget.yelpreview .review-body .review-link a,
form.blog-search-form .form-group button,
.blog-post-more-link a,
a.contentgroup__link {
	display: inline-block;
	margin: 0;
	padding: 12px 36px;
	min-height: 45px;
	height: auto;
	background-color: @font-swatch7-background-color;
	font-family: @font-swatch7-font-family;
	font-size: @font-swatch7-font-size;
	font-weight: @font-swatch7-font-weight;
	line-height: @font-swatch7-line-height;
	color: @font-swatch7-color;
	letter-spacing: @font-swatch7-letter-spacing;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	text-shadow: none;
	border: none;
	-webkit-font-smoothing: subpixel-antialiased !important;
	-webkit-transition: background-color 0.15s ease-in-out;
	-moz-transition: background-color 0.15s ease-in-out;
	-o-transition: background-color 0.15s ease-in-out;
	transition: background-color 0.15s ease-in-out;
    word-break: break-word;

	.style--light & {
	    background-color: @color--accent;
	    color: @contrast--accent;
	}

	.style--accent & {
		background-color: @color--dark;
		color: @contrast--dark;
	}

	.style--dark & {
		background-color: @color--accent;
		color: @contrast--accent;
	}

	&:hover {
		background-color: @font-swatch7-background-color-hover;

		.style--light & {
			background-color: lighten(@color--accent, 10%);
		}
	
		.style--accent & {
			background-color: lighten(@color--dark, 10%);
		}
	
		.style--dark & {
			background-color: lighten(@color--accent, 10%);
		}
	}
}

.widget button.btn span {
	color: @font-swatch7-color;

	.style--light & {
	    color: @contrast--accent;
	}

	.style--accent & {
		color: @contrast--dark;
	}

	.style--dark & {
		color: @contrast--accent;
	}
}

// Image Buttons

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button,
.widget.filedownload button.btn {
	&, &:hover, &:focus {
		background-image: none;
	}
}

.widget.tweet a,
.widget.clicktocall a,
.widget.dropbox button span,
.widget.filedownload button.btn {
	&:before {
        position: relative;
        top: 0.1em;
		padding-right: 0.25em;
		background-image: none;
		font-family:'FontAwesome';
		font-size: 1.25em;
	}
}

.widget.tweet a:before {content: '\f099';}
.widget.clicktocall a:before {content: '\f095';}
.widget.dropbox button span:before {content: '\f16b';}
.widget.filedownload button.btn:before {content: '\f019';}

.widget.paypalbuynow .widget.button.paypal {
	padding-left: 4.2em;
    background-size: 1.2em;
    background-position: 2.25em center;
}

.widget.filedownload div {
	@media @mobile {
		float: none;
	}

	span.file-name {
		display: block;
		margin: 0.5em 0;
	}
}

// SOCIAL BAR AND SOCIAL PROFILE

.widget.socialicons,
.widget.profile .bk-profile-socialicons {
	padding: 10px 0;
	min-height: 32px;

	span {
		display: inline-block;

		a {
			display: inline-block;
			background-image: none;
			margin: 0 6px 8px;
			padding: 0;
			width: 32px;
			height: 32px;
			min-height: 32px;
			line-height: 32px;
			border-radius: 50%;
			text-indent: 0;
			font-size: 0;

			&:before {
				font-family: 'FontAwesome';
				text-indent: 0;
				font-size: 18px;
			}
		}

		&.bk-socialicons-linkedin a:before {content: '\f0e1';}
		&.bk-socialicons-twitter a:before {content: '\f099';}
		&.bk-socialicons-instagram a:before {content: '\f16d';}
		&.bk-socialicons-pinterest a:before {content: '\f0d2';}
		&.bk-socialicons-facebook a:before {content: '\f09a';}
		&.bk-socialicons-rss a:before {content: '\f09e';}
		&.bk-socialicons-vkontakte a:before {content: '\f189';}
		&.bk-socialicons-xing a:before {content: '\f168';}
		&.bk-socialicons-youtube a:before {content: '\f16a';}
	}
}

.widget.profile .bk-profile-socialicons span a {
	background-color: @color-swatch2;

	.style--light & {
		background-color: @color-swatch2;
	}

	.style--accent & {
		background-color: @color--dark;
	}

	.style--dark & {
		background-color: @color--accent;
	}

	&:hover {
		background-color: darken(@color-swatch2, 5%);

		.style--light & {
			background-color: darken(@color-swatch2, 5%);
		}
	
		.style--accent & {
			background-color: darken(@color--dark, 5%);
		}
	
		.style--dark & {
			background-color: darken(@color--accent, 5%);
		}
	}
}

// FORM

// INPUT AND TEXTAREA

input,
textarea,
form input,
form textarea {
	background-color: @color-swatch1;
	border: 1px solid fade(@color-swatch3, 30%);
	min-height: 45px;
	height: auto !important;
	height: 50px;
	width: 100%;
	background-color: @color-swatch1;
	border: 1px solid fade(@color-swatch3, 25%);
	font-family: @font-swatch5-font-family;
	font-size: @font-swatch5-font-size;
	color: @font-swatch5-color;
	text-indent: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	&:focus {
		outline: none;
	}

	.style--light &,
	.style--accent &,
	.style--dark & {
		color: @font-swatch5-color;
	}
}

// CONTENT

.widget.content {
	padding: 0;

	span.expand {
		font-family: @font-swatch7-font-family;
		background-color: @font-swatch7-background-color;
		color: @font-swatch7-color;
		font-size: @font-swatch7-font-size;
		text-transform: uppercase;
		padding: 4px 8px;
		margin: 4px 0;
		cursor: pointer;
		display: inline-block;

		&:hover,
		&:focus {
			cursor: pointer;
			background-color: @font-swatch7-background-color-hover;
		}

		@media @tablet-small {
			display: none !important;
		}
	}

	.bk-content-text {
		@media @tablet-small {
			overflow: visible !important;
			height: auto !important;
		}
	}
}

// GALLERY

.widget.gallery {
	margin: 20px 0;

	ul li {
		@media @tablet {
			width: 100%/2;
			padding-bottom: 100%/2;
		}

		@media @tablet-larger {
			width: 100%/3;
			padding-bottom: 100%/3;
		}

		@media @mobile-large {
			width: 100%/2;
			padding-bottom: 100%/2;
		}

		@media @mobile {
			width: 100%;
			padding-bottom: 100%;
		}

		.responsivecolumns & {
			width: 100%;
			padding-bottom: 100%;
		}

		span.inner {
			.title,
			.description {
				color: @color-swatch1;
				font-family: @font-swatch4-font-family;
				letter-spacing: @font-swatch4-letter-spacing;
				text-align: left;

				@media @mobile {
					max-height: 150px;
				}
			}

			.title {
				font-size: @font-swatch3-font-size;
				font-weight: 600;
				line-height: 26px;
			}

			.description {
				font-size: @font-swatch5-font-size;
				line-height: 20px;
			}
		}
	}

	p {
		@media @mobile {
			padding: 10px;
		}
	}

	.image-data {
		display: block;
		opacity: 0;
		background-color: fade(@color-swatch3, 80%);
		transition: all 0.4s ease-out;

		&:hover {
			opacity: 1;
		}
	}
}

// LIGHTBOX

.lb-data .lb-caption,
.lb-data .lb-number {
	font-family: @font-swatch5-font-family;
	font-size: @font-swatch5-font-size;
	font-weight: @font-swatch5-font-weight;
	line-height: @font-swatch5-line-height;
	color: lighten(@font-swatch5-color, 50%);
}

.lb-data .lb-number {
	font-size: bkscale(@font-swatch5-font-size, 0.9);
}

// DIVIDER

.widget.line {
	padding: 20px 0;
}

hr.line {
	background-color: lighten(@color-swatch5, 18%);
	height: 1px;
	width: 100%;
	border: none;

	.style--light & {
	    background-color: fade(@contrast--light, 18%);
	}

	.style--accent & {
	    background-color: fade(@contrast--accent, 18%);
	}

	.style--dark & {
	    background-color: fade(@contrast--dark, 18%);
	}


	&.align-left {
		margin: 20px auto 20px 0px;
	}

	&.align-center {
		margin: 20px auto;
	}

	&.align-right {
		margin: 20px 0px 20px auto;
	}
}

// MAP

.widget.map {
	margin: 20px 0;
}

// TWITTER

.widget.twitter {
	margin: 20px 0;

	a {
		color: @font-swatch5-color;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch5-font-weight;
		line-height: @font-swatch5-line-height;
		text-decoration: none;

		.style--light & {
		    color: fade(@contrast--light, 80%);
		}

		.style--accent & {
		    color: fade(@contrast--accent, 80%);
		}

		.style--dark & {
		    color: fade(@contrast--dark, 80%);
		}
	}

	span a {
		border-bottom: 0;
		font-size: 11px;
		color: @color-swatch3;

		.style--light & {
		    color: @color--accent;
		}

		.style--accent & {
		    color: @contrast--accent;
		}

		.style--dark & {
		    color: @color--accent;
		}
	}

	ul {
		padding: 0px;
		margin: 0;

		li {
			margin-bottom: 20px;
			padding: 30px;
			border: 1px solid darken(@color-swatch1, 10%);
			list-style: none;
			font-family: @font-swatch5-font-family;
			font-size: 0.6em;
			color: @font-swatch5-color;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;

			.style--light & {
				color: fade(@contrast--light, 80%);
			}

			.style--accent & {
				color: fade(@contrast--accent, 80%);
			}

			.style--dark & {
				color: fade(@contrast--dark, 80%);
			}

			.twitter-profile-pic {
				float: left;
				margin-right: 20px;
				height: 48px;
				width: 48px;
		
				a {
					border-bottom: 0;
					padding-bottom: 0;
				}
			}

			.twitter-content {
				margin-left: 68px;

				a {
					font-weight: bold;
				}

				p {
					display: block;
					margin-bottom: 0.5em;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}

	time {
		font-size: 11px;

		.style--light & {
		    color: fade(@contrast--light, 80%);
		}

		.style--accent & {
		    color: fade(@contrast--accent, 80%);
		}

		.style--dark & {
		    color: fade(@contrast--dark, 80%);
		}
	}
}

// FORMS

.form-group {
	margin-bottom: 1em;
}

// SIGNUP FORM

.widget.signupform {
	display: block;
	padding: 30px;
	margin: 0 0 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	@media @mobile {
		padding: 20px;
	}

	fieldset {
		padding: 0;
		border: 0;
		margin: 0;

		label {
			float: left;
			width: 100%;
			margin-bottom: 4px;
			color: @color-swatch4;
		}
	
		input {
			height: 52px;
			width: 100%;
			margin-bottom: 10px;
			background-color: @color-swatch1;
			border: 1px solid fade(@color-swatch3, 25%);
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			padding-left: 10px;
		}
	
		button {
			padding: 8px 30px;
			text-transform: uppercase;
			height: 44px;
			line-height: 0;
		}
	}
}

.singupform,
.contactform form,
.advancedcontactform form,
.blogsearch form {
	background-color: fade(@color-swatch3, 7%);
	border: 1px solid fade(@color-swatch3, 20%);

	.style--light & {
		background-color: fade(mix(@contrast--light, @color-swatch3, 30%), 7%);
		border-color: fade(mix(@contrast--light, @color-swatch3, 30%), 20%)
	}

	.style--accent & {
	    background-color: darken(@color--accent, 5%);
	    border-color: darken(@color--accent, 18%);
	}

	.style--dark & {
	    background-color: lighten(@color--dark, 7%);
	    border-color: lighten(@color--dark, 20%);
	}
}

// CONTACT FORM

.contactform,
.advancedcontactform,
.productlist-filter {
	label {
		font-family: @font-swatch4-font-family;
		font-size: @font-swatch5-font-size;
		font-weight: @font-swatch4-font-weight;
		line-height: @font-swatch4-line-height;
		color: @color-swatch4;
		letter-spacing: @font-swatch4-letter-spacing;
		display: block;
		margin-bottom: 5px;
		word-break: break-word;

		.style--light & {
		    color: fade(@contrast--light, 90%);
		}

		.style--accent & {
		    color: fade(@contrast--accent, 90%);
		}

		.style--dark & {
		    color: fade(@contrast--dark, 90%);
		}
	}
}

.contactform,
.advancedcontactform {
	margin: 10px 0;

	form {
		display: block;
		padding: 30px;
		margin: 0 0 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

	fieldset {
		margin: 0;
	}

	input {
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		padding: 0;
	}
	
	textarea,
	form textarea {
		min-height: 150px;
		padding: 5px 0;
	}

	button,
	button.btn {
		padding: 12px 36px;
		border: 0;
		background-color: @font-swatch7-background-color;
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
		line-height: @font-swatch7-line-height;
		color: @font-swatch7-color;
		letter-spacing: @font-swatch7-letter-spacing;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background-color: @font-swatch7-background-color-hover;
			cursor: pointer;
		}
	}
}

// DROPDOWN

.select-wrap {
	position: relative;

    .advancedcontactform & {
        max-width: 50%;

        @media @tablet {
            max-width: 100%;
        }
    
        .responsivecolumns & {
            max-width: 100%;
        }
    }
}

select,
.widget.ecomcheckout .delivery select,
.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select {
	appearance: none;
	outline: none !important;
	position: relative;
	background: transparent;
	padding: 10px 2.5em 10px 10px;
	border-radius: 3px;
	background-image: url("data:image/svg+xml;base64,CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI0IDI0IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNCAyNCI+Cgk8cG9seWxpbmUgc3Ryb2tlPSIjNzY3ODgwIiBmaWxsPSJub25lIiBzdHJva2Utd2lkdGg9IjMiIHBvaW50cz0iMjAuMSw4LjYgMTIsMTYuNyAzLjksOC42IiAvPgo8L3N2Zz4=");
	background-position: right 0.5em center;
	background-repeat: no-repeat;
	background-size: 1.5em;
	background-color: @color-swatch1;
	border: 1px solid fade(@color-swatch3, 30%);
	text-indent: 0.01px;
	text-overflow: ellipsis;

	@media @tablet {
		width: 100%;
	}

	&::-ms-expand {
		display: none;
	}

	option {
		background-color: @color-swatch1;
		color: @font-swatch5-color;
	}
}

// Radiobuttons and Checkboxes

.widget .form .option-list {
	margin-top: 1em;
	margin-bottom: 2em;

	.option-item--radio,
	.option-item--checkbox {
		position: relative;
		width: 100%;
		margin-bottom: @font-swatch5-line-height / 2;
		padding: 0;
		min-height: @font-swatch5-line-height;
	}
}

.widget .form .option-list,
.widget .form-group[class*="form-group--terms"] {
	input[type="radio"],
	input[type="checkbox"] {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: floor(@font-swatch5-line-height*0.8+2) !important;
		height: 100% !important;
		margin: 0 !important;
		padding: 0 !important;
		bottom: 0;

		&:checked + label:after {
			opacity: 1;
		}
	}

	.label--radio,
	.label--checkbox,
	label[for*="input--terms"] {
		display: block;
		position: relative;
		cursor: pointer;
		padding-left: 2em;
		margin-bottom: 0;
		line-height: floor(@font-swatch5-line-height*0.8+2);
		font-size: @font-swatch5-font-size;
		word-break: break-word;
		text-align: left;
		text-transform: none;
		font-weight: 300;

		span a.form__link {
			font-family: @font-swatch5-font-family;
			font-weight: @font-swatch5-font-weight;
			font-size: @font-swatch5-font-size;
			line-height: floor(@font-swatch5-line-height*0.8+2);
			letter-spacing: @font-swatch5-letter-spacing;
		}

		&:before,
		&:after {
			cursor: pointer;
			display: block;
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
		}

		&:before {
			min-width: 0;
			margin-top: 0;
			height: floor(@font-swatch5-line-height*0.8);
			width: floor(@font-swatch5-line-height*0.8);
			background-color: @color-swatch1;
			border: 1px solid @font-swatch7-background-color;
			border-radius: 0;

			.style--light & {
				border-color: @color-accent;
			}

			.style--accent & {
				border-color: @color--dark;
			}

			.style--dark & {
				border-color: @color--accent;
			}
		}

		&:after {
			opacity: 0;
			width: floor(@font-swatch5-line-height*0.8);
		}
	}

	.label--radio {
		&:before {
			border-radius: 50%;
		}

		&:after {
			border-radius: 50%;
			background-color: @font-swatch7-background-color;
			border: 1px solid @font-swatch7-background-color;
			margin-top: 0;
			height: floor(@font-swatch5-line-height*0.8);
			transform: scale(50%);

			.style--light & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}

			.style--accent & {
				background-color: @color--dark;
				border: 1px solid @color--dark;
			}

			.style--dark & {
				background-color: @color--accent;
				border: 1px solid @color--accent;
			}
		}
	}

	.label--checkbox,
	label[for*="input--terms"] {
		&:after {
			margin-top: floor(@font-swatch5-line-height*-1.2/4);
			height: floor(@font-swatch5-line-height*1.2);
			border: 1px solid transparent;
			box-shadow: -6px -6px 0 0 inset @font-swatch7-background-color;
			transform: scale(50%) rotate(45deg);

			.style--light & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}

			.style--accent & {
				box-shadow: -6px -6px 0 0 inset @color--dark;
			}

			.style--dark & {
				box-shadow: -6px -6px 0 0 inset @color--accent;
			}
		}
	}

	label[for*="input--terms"] span a.form__link {
		text-decoration: underline;
		border: none;
	}
}

// PLACEHOLDER

::-webkit-input-placeholder {
	color: @color-swatch5;
}

:-moz-placeholder {
	color: @color-swatch5;
}

::-moz-placeholder {
	color: @color-swatch5;
}

:-ms-input-placeholder {
	color: @color-swatch5;
}

// RESPONSIVE SLIDESHOW

.widget.responsiveslideshow {
	margin: 20px 0;

	.slideshow-image-list,
	.slideshow-widget {
		min-height: 450px;

		@media @tablet {
			min-height: 350px;
		}

		@media @mobile {
			min-height: 280px;
			height: 280px;
		}
	}

	.content-wrapper {
		background: fade(@color-swatch3, 60%);
	}

	.title {
		font-weight: bold;
	}

	.title,
	.description {
		display: block;
		padding: 20px;
	}

	.title + .description {
		margin-top: -10px;
		padding-top: 0;
	}

	.slideshow-widget {
		.btn-prev,
		.btn-next {
			font-size: 0;
			z-index: 11;
			text-indent: -99999px;
			width: 40px;
			height: 40px;
			background: @color-swatch2;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;

			@media @mobile {
				width: 30px;
				height: 30px;
			}

			&:after {
				color: @font-swatch7-color;
			}
		}

		.btn-prev {
			&:after {
				content: '\2190';
				top: 7px;

				@media @mobile {
					top: 1px;
				}
			}
		}

		.btn-next {
			&:after {
				content: '\2192';
				top: 7px;

				@media @mobile {
					top: 1px;
				}
			}
		}

		.btn-play {
			background: @color-swatch2;
			font-size: 0;
			text-indent: -99999px;
			position: absolute;
			cursor: pointer;
			z-index: 12;
			width: 42px;
			height: 42px;
			top: -5%;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;

			@media @mobile {
				width: 30px;
				height: 30px;
			}

			&:after {
				content: '\f04b';
				font-family:'FontAwesome';
				font-size: 20px;
				color: @font-swatch7-color;
				height: 42px;
				line-height: 42px;
				top: 0;

				@media @mobile {
					line-height: 28px;
				}
			}

			&.pause {
				&:after {
					content: '\f04c';
				}
			}
		}
	}

	.slideshow-widget-controls {
		.dot {
			width: 11px;
			height: 11px;
			margin: 0 8px;
			border-radius: 50%;

			.style--light & {
			    background-color: darken(@color--light, 5%);
			}

			.style--accent & {
			    background-color: darken(@color--accent, 5%);
			}

			.style--dark & {
			    background-color: darken(@color--dark, 5%);
			}

			&.selected {
				background-color: @color-swatch2;
				border: 0;

				.style--light & {
				    background-color: @color--accent;
				}

				.style--accent & {
				    background-color: @contrast--accent;
				}

				.style--dark & {
				    background-color: @color--accent;
				}
			}
		}
	}
}

// REGISTERATION FORM

.widget.userregistration {
	fieldset {
		margin: 0 auto;
		padding: 0;
		border: none;
		max-width: 400px;

		@media @mobile {
			max-width: none;
		}

		.responsivecolumns & {
			max-width: none;
		}

		input {
			width: 100%;
			box-sizing: border-box;
		}

		.error {
			padding: 20px 0 0;

			&[style*="display: block"] {
				padding: 20px 0;
			}

			&[style*="display: none"] {
				display: block !important;
			}
		}
	}
}

// BLOG

.widget.blogpostlist {
	.blog-post-item {
		padding: 30px;
		border: 1px solid darken(@color-swatch1, 10%);
		border-radius: 4px;
		margin: 0 0 20px;

		.style--light & {
		    border-color: darken(@color--light, 10%);
		}

		.style--accent & {
		    border-color: darken(@color--accent, 10%);
		}

		.style--dark & {
		    border-color: darken(@color--dark, 10%);
		}
	}

	.blog-post-feature-image-wrap {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		margin-bottom: 20px;

		img {
			display: none;
		}
	}
}

.blog-post-item {
	margin: 1.5em 0;
	padding-bottom: 1em;

	h2 {
		a {
			font-family: @font-swatch2-font-family;
			font-size: @font-swatch2-font-size;
			font-weight: @font-swatch2-font-weight;
			line-height: @font-swatch2-line-height;
			color: @font-swatch2-color;
			letter-spacing: @font-swatch2-letter-spacing;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	h2 a,
	a {
		.style--light & {
		    color: fade(@contrast--light, 90%);
		}

		.style--accent & {
		    color: fade(@contrast--accent, 90%);
		}

		.style--dark & {
		    color: fade(@contrast--dark, 90%);
		}
	}
}

.blog-post-metadata {
	background-color: transparent;
	background-image: none;
	margin-top: 40px;
	text-align: left;
}

.blog-list-footer {
	background-color: transparent;
	background-image: none;

	a {
		.style--light & {
		    color: @color--accent;
		}

		.style--accent & {
		    color: @contrast--accent;
		}

		.style--dark & {
		    color: @color--accent;
		}
	}
}

.blog-post-more-link {
	display: inline-block;
	margin-bottom: 20px;
}

.blog-post-date {
	display: block;
}

// BLOG SEARCH

.blogsearch {
	.form-group {
		display: flex;
		flex-wrap: wrap;
	}

	form {
		background-color: fade(@color-swatch3, 7%);
		border: 1px solid fade(@color-swatch3, 20%);
		margin-bottom: 40px;
		padding: 20px 30px;

		label {
			display: block;
			margin-bottom: 0.6em;
			width: 100%;
			font-family: @font-swatch4-font-family;
			font-size: @font-swatch4-font-size;
			font-weight: @font-swatch4-font-weight;
			line-height: @font-swatch4-line-height;
			color: @font-swatch4-color;
			letter-spacing: @font-swatch4-letter-spacing;

			.style--light & {
			    color: fade(@contrast--light, 90%);
			}

			.style--accent & {
			    color: fade(@contrast--accent, 90%);
			}

			.style--dark & {
			    color: fade(@contrast--dark, 90%);
			}
		}

		input {
			flex-grow: 1;
			margin-right: 10px;

			@media @mobile {
				width: 100%;
				margin-right: 0;
				margin-bottom: 10px;
			}

			.responsivecolumns & {
				width: 100%;
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}
}

.blog-post-feature-image-wrap {
	width: 100%;
	height: 300px;
	overflow: hidden;
	margin-bottom: 2em;
	background-size: cover;
	background-position: center;

	img {
		display: none;
	}
}

.blog-post-sharing {
	margin-top: 10px;

	button.btn {
		margin-right: 20px;

		@media @mobile {
			width: 100%;
			margin-right: 0;
			margin-bottom: 20px;
		}
	}
}

// E-COMMERCE

// Categories

.widget.ecomcategorieslist {
	ul.product-category-items {
		list-style: none;
		padding: 0;
		margin: 0 -10px 1em;
		display: flex;
		flex-wrap: wrap;

		@media @mobile {
			margin: 0 0 1em;
			padding: 0;
		}

		.responsivecolumns & {
			padding: 0;
		}

		li {
			padding: 5px 10px;

			@media @mobile {
				width: 100%;
				padding: 5px 0;
			}

			.responsivecolumns & {
				width: 100%;
				padding: 5px 0;
			}
		}
		
        a span {
            padding-left: 0.25em;
        }
	}
}

// Product List

.widget.ecomproductslist .ecom-productslist-products,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    max-width: none;

	.productlist-filter {
		margin-left: 0;
		width: 100%;

		.productlist-display-form {
			display: flex;
			flex-wrap: wrap;
			margin: 0 auto;
			max-width: 800px;

			.form-group {
				margin: 0 0 20px;
				flex-grow: 1;
				width: 100%/3;

				@media @mobile {
					width: 100%;
				}
			
				.responsivecolumns & {
					width: 100%;
				}

				> * {
					margin: 0 10px;

					@media @mobile {
						margin: 0;
					}
				}

				label {
					display: block;
				}

				label,
				select {
					width: calc(~"100% - 20px");

					@media @mobile {
						width: 100%;
					}
				}
			}
			
			.form-group.productlist-search {
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				label {
					width: 100%;
				}

				input {
					flex-grow: 1;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
					width: auto;

					@media @mobile {
						width: 100%;
						margin-bottom: 10px;
					}

					.responsivecolumns & {
						width: 100%;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

.widget.ecomproductslist .ecom-productslist-product,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product {
	width: 100%/3;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 20px 20px 40px;
    overflow: hidden;
    display: block;

	@media @mobile {
		width: 100%;
		padding: 20px 0 40px;
	}

	.responsivecolumns & {
		width: 100%;
		padding: 20px 0 40px;
	}

	a:hover {
		text-decoration: none;
	}
}

.widget.ecomproductslist .ecom-productslist-title,
.widget.ecomfeaturedproducts .ecom-featuredproducts-title {
	padding: 0;
}

.widget.ecomproductslist .ecom-productlist-info,
.widget.ecomfeaturedproducts .ecom-featuredproducts-info {
	text-align: center;
}

.widget.ecomproductslist .ecom-productslist-image-wrap,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image-wrap {
	background-position: center;
	margin-bottom: 20px;
}

.widget.ecomproductslist .ecom-productslist-image,
.widget.ecomfeaturedproducts .ecom-featuredproducts-wrap .ecom-featuredproducts-product .ecom-featuredproducts-image {
	display: none;
    height: 100%;
    margin: 0 auto;
}

// Product

.widget.ecomproduct {
	.ecom-product {
		.btn {
			margin: 0 0 20px;
			text-align: center;
			min-width: 250px;

			@media @mobile {
				width: 100%;
			}

			&:before {
				float: none;
			}
		}
		
		.ecom-product-cattag {
			.ecom-product-tag,
			.ecom-product-category {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 1em;
		
				&:after {
					content: ':\00a0';
					order: 0;
					display: inline-block;
				}
			}
		}
	
		.store-category-link,
		.ecom-product-tag-link {
			font-weight: 300;
			order: 1;
	
			&:after {
				content: ',\00a0';
			}
	
			&:last-child::after {
				content: none;
			}
		}
	}
}

.btn.ecom-product-go-to-checkout-btn {
	background-color: @color-swatch3;

	&:hover {
		background-color: darken(@color-swatch3, 20%);
		text-decoration: none;
	}
}

.ecom-productlist-price,
.ecom-featuredproducts-price,
.productlist-pagination-page a,
.product-category-items a {
	.style--light & {
	    color: lighten(mix(@color--dark, @color-swatch3, 25%), 15%);
	}

	.style--accent & {
	    color: @contrast--accent;
	}

	.style--dark & {
	    color: @color--accent;
	}
}

.productlist-pagination-page span {
	.style--light & {
	    color: fade(@contrast--light, 80%);
	}

	.style--accent & {
	    color: fade(@contrast--accent, 80%);
	}

	.style--dark & {
	    color: fade(@contrast--dark, 80%);
	}
}

// Tags

.ecom-product-cattag {
	a {
		padding: 0 10px;
	}
}

// Ecom Basket Summary

.widget.ecombasket {
	.ecombasket-pull p {
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
	}

	.ecombasket-list-container ul li .ecombasket-item-info .ecombasket-remove-button {
		border: 0;
		text-decoration: none;
		color: @color-swatch1;
		font-family: @font-swatch5-font-family;
		padding: 5px 10px;
	}
}

.widget.ecombasketsummary {
	padding-top: 20px;

	a {
		font-family: @font-swatch7-font-family;
		font-size: @font-swatch7-font-size;
		font-weight: @font-swatch7-font-weight;
	}

	table {
		border-spacing: 0;
		width: 100%;
		list-style: none;
		font-size: 18px;
		color: @color-swatch4;
		margin: 20px 0 30px;

		@media @tablet {
			padding: 0px;
		}

		@media @mobile {
			padding: 0px;
			margin: 0px 0px 30px 0px;
		}

		tr:first-child {
			background-color: darken(@color-swatch1, 4%);
			-webkit-border-top-left-radius: 4px;
			-webkit-border-top-right-radius: 4px;
			-moz-border-radius-topleft: 4px;
			-moz-border-radius-topright: 4px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			font-family: @font-swatch4-font-family;
			font-size: 14px;
			font-weight: 400;
			letter-spacing: 1px;
			color: @font-swatch4-color;
			text-transform: uppercase;

			@media @mobile {
				font-size: 12px;
				display: none !important;
			}

			@media @mobile {
				font-size: 12px;

				th:nth-child(2) {
					display: none;
				}

				th:nth-child(3) {
					padding-left: 12px;
				}
			}
		}

		th {
			text-align: left;
			position: relative;
		}

		tr td {
			border-bottom: 1px solid darken(@color-swatch1, 10%);

			@media @mobile {
				display: table;
				width: 100%;
				border-bottom: 0;
			}

			&:nth-child(1),
			&:nth-child(2) {
				padding: 20px;
				vertical-align: top;

				@media @mobile {
					padding: 20px 0px;
				}
			}

			&:nth-child(1) {
				@media @mobile {
					padding-bottom: 0;
				}
			}

			&:nth-child(2) {
				@media @mobile {
					padding-left: 0;
				}
			}

			&:nth-child(3) {
				padding: 20px;
				margin-top: 0;

				@media @mobile {
					text-align: center;
				}
			}

			&:nth-child(2),
			&:nth-child(3) {
				@media @mobile {
					padding: 0 20px 0;
					border-left: 0;
				}
			}

			&:last-child {
				@media @mobile {
					padding: 6px 20px;
					margin: 20px 0 0;
					border-bottom: 1px solid darken(@color-swatch1, 10%);
					border-top: 1px solid darken(@color-swatch1, 10%);
				}
			}
		}
	}

	tr:last-child td:last-child {
		@media @mobile {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}
	}

	.basket-summary-items {
		background: transparent;

		@media @tablet {
			img {
				max-width: 100px !important;
			}
		}

		@media @mobile {
			text-align: center;

			img {
				max-width: 80px !important;
			}

			+ tr {
				display: block;
			}
		}

		&:last-child {
			td {
				padding-bottom: 25px;
			}
		}

		.image-wrap {
			background-image: none !important;
		}

		td:nth-child(2) {
			padding-left: 15px;
		}

		.basket-summary-pricepu,
		.basket-summary-quantity,
		.basket-summary-amount {
			font-size: @font-swatch5-font-size;
			line-height: @font-swatch5-line-height;

			label {
				display: block;
			}
		}

		.basket-summary-pricepu {
			display: block;
		}

		.basket-summary-quantity {
			margin-top: 4px;
		}

		.basket-summary-quantity,
		.basket-summary-quantitybtn {
			display: inline-block;

			label {
				display: block;
			}

			span {
				padding: 5px 25px 6px;
				margin: 0;
				position: relative;
				top: -2px;
			}

			button {
				width: 30px;
				height: 30px;
				padding: 0;
				box-shadow: none;
				border: 0;
				color: @color-swatch1;
				background-color: @color-swatch3;
				margin: 0;

				&:hover {
					background-color: darken(@color-swatch3, 10%);
				}
			}
		}

		.basket-summary-amount {
			color: darken(@color-swatch4, 10%);
		}
	}

	.basket-summary-subtotal {
		color: darken(@color-swatch4, 10%);
		display: block;
		font-size: @font-swatch4-font-size;
		margin-top: 25px;
		border: 1px solid @color-swatch7;
		padding: 20px;
		font-weight: 700;
	}

	.basket-summary-product-info a {
		font-family: @font-swatch6-font-family;
		font-size: @font-swatch6-font-size;
		font-weight: @font-swatch6-font-weight;
	}

	.basket-summary-continue-shopping,
	.basket-summary-submit,
	.basket-summary-empty-cta {
		display: inline-block;
		margin-left: 0;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 0 12px;
		line-height: 45px;
		height: 45px;
		font-weight: @font-swatch7-font-weight;
		background-color: @color-swatch3;
		text-decoration: none;

		&:hover {
			background-color: @color-swatch7;
		}

		@media @mobile {
			margin-right: 0;
			width: 100%;
			text-align: center;
		}
	}

	.basket-summary-legal-links {
		padding-top: 10px;
		list-style: none;
		padding-left: 0;

		&:hover {
			text-decoration: underline !important;
		}
	}
}
